# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/
*.env

# Django
*.sqlite3
*.log
/media/
/staticfiles/
/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

# Pytest / Coverage
.pytest_cache/
htmlcov/
.coverage

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backup files
*.bak
*.swp
*~
