asgiref
cachetools
certifi
cffi
charset-normalizer
cryptography
Django
django-cors-headers
django-fernet-fields
djangorestframework
djangorestframework_simplejwt
google-auth
idna
pyasn1
pyasn1_modules
pycparser
PyJWT
requests
rsa
sqlparse
urllib3
